#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.download-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}